.ml-c{margin-left: 100px;}
.mr-10{margin-right: 10px;}
.widget-boxes{margin-right: 20px; }
.sbp{cursor: pointer;}
/*.hidden-phone .nav > li a:hover,.hidden-phone .nav > li.active a, .dropdown-sidebar.sbp.active a{border-right: 2px solid;}*/
.hidden-phone .nav > li > a {padding: 6px 15px;}
.thumbnail {margin-right: 20px; margin-bottom: 20px;}
.divider{border: 1px solid #e3e3e3;margin-top: 10px;margin-bottom: 10px;}
.well{background-color: #f5f5f5; background-image:none; }
.edit-image{margin-bottom: 20px;}
.index-delete{margin-top: 10px;}
.js .collapsed{display: block !important;}
.navbar-toggle{margin-left: 20px;}
li.sbp .caret{float: right;margin-top: 7px;}
.thumbnails{list-style: none;}
.mobile-head-menu{display: none;}
/*MAIN CONTENT*/
.main{
	
	margin-left: 210px;
	position: relative;
}
/*HEADER*/
.header-container{padding: 0px 20px 0px 0px;}
.navbar-nav li:hover{border-bottom: 3px solid #46b8da;}

/*Sidebar*/
.btn-colapse-sidebar{cursor: pointer;}
.side-ul li.active{border-right: 3px solid #46b8da;}
.side-ul li:hover{border-right: 3px solid #46b8da;}

li.sbp.active{border-right: none;}
li.sbp:hover{border-right: none;}

i.pos {
	padding: 0px 0px 0px 10px;
}
.respon-left-panel {
    margin-top: -7px;
    position: absolute;
    width: 198px;
    padding: 0px;
    background-color: #222;
    -moz-transition: left .1s ease-out;
	-ms-transition: left .1s ease-out;
	-o-transition: left .1s ease-out;
	-webkit-transition: left .1s ease-out;
	transition: left .1s ease-out;
}
.side-ul li a:hover {
	background-color: #222!important;
}
.respon-left-panel li a {
	color: #999;
}
.respon-left-panel li a:hover {
	color: #fff;
}
.left-mobile-sidebar{
	display: block!important;
	max-width: 300px;
}

.miniclose{

}
/*colapsable sidebar*/
.sidebar-nav .nav.nav-list.side-ul.hide{

}
.respones-colapse{
	width: 70px!important;
	min-width: 50px;
	float: left;
}

.submenu {display: none; list-style: none;}
.submenu.active{display: block;}
.submenu li.active a{text-decoration: underline; font-weight:bold;}
.submenu li a{border-right: 0px !important;}
.btn-sidebar-menu{display: none;}
.dropdown-toggle i{margin-right: 5px;}

.chosen-container-single .chosen-single{height: 27px !important;}
.chosen-container.chosen-container-multi ul.chosen-choices li.search-field input{height: 27px !important;}

.ml-20{margin-left: 20px;}
.edit_ad_form{margin-left: 150px;}
.ml-10{margin-left: 10px!important;}
/*bbcode style fix*/
div.sceditor-group{padding: 1px 15px 5px 5px!important;}
.sceditor-button{padding: 0px 0px 0px 2px!important; width: 20px!important;}
.sceditor-button, .sceditor-button div{margin-top: 3px!important;}

@media screen and (max-width: 979px) {
	.navbar .nav{float: left!important;}
	.btn-sidebar-menu{display: block; margin-left: 10px;}
	div.bs-docs-nav{margin-top: 57px;}
}

@media screen and (max-width: 769px) {
	.main{margin-left: auto;float: left;}
	.edit_ad_form{margin-left: 0px;}
	.respon-left-panel{position: absolute;}
	.mobile-head-menu{display: block;}
	.mobile-head-menu-item{
	    float: left;
	    background: #222;
	    padding: 7px 2px 6px 5px;
	    margin: -8px 0px 0px 5px;
	
	}
	.mobile-head-menu-item.open ul.dropdown-menu{
    position: absolute;
    background: #222;
}
	.mobile-head-menu-item.open a{background-color: #222!important;}
}
@media screen and (max-width: 480px) {
	.main{width: auto; padding: 10px 0px 0px 0px;}
	.admin-table-user{display: none;}
}