<style type="text/css">
.tg-left { text-align: left; } 
.tg-right { text-align: right; } 
.tg-center { text-align: center; }
.tg-bf { font-weight: bold; } 
.tg-it { font-style: italic; }
.tg-table-plain { border-collapse: collapse; border-spacing: 0; font-size: 100%; font: inherit; }
.tg-table-plain td, .tg-table-plain th { border: 1px #555 solid; padding: 10px; vertical-align: top; }
</style>
<table class="tg-table-plain">
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr class="tg-even">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="tg-even">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>