.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

/* New css */
aside {
    z-index: 4;
    position: fixed;
    width: 250px;
    margin-left: -15px;
    height:100%;
    background:$sidebar-bg;
    overflow: auto;
    top:50px;
    color: $white-darker;
    @include transition(all .2s ease);
    .search-list {
         > ul {
            margin: 15px 30px 15px 12px;
            > li > a {
                padding: 0;
                font-weight: normal;
                display: block;
                padding-bottom: 7px;
                padding-top: 7px;
                font-size: 14px;
                &:hover {
                    text-decoration: none;
                    background: transparent;
                }
            }
        }
    }
    .search-docs {
        font-size: 13px;
        text-transform: uppercase;
    }
    /* Google CSE */
    .search-container-oc-faq {
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        border-top: 1px solid rgba(255, 255, 255, 0.05);
        margin-left: -15px;
        margin-right: -30px;
        padding-left: 27px;
        padding-right: 30px;
    }
    .gsc-control-cse,
    .gsc-control-cse * {
      -webkit-box-sizing: content-box;
         -moz-box-sizing: content-box;
              box-sizing: content-box;
    }
    .cse .gsc-control-cse, .gsc-control-cse {
        padding: 0!important;
        background: transparent!important;
        border: none!important;
    }
    .gsc-search-box-tools .gsc-search-box .gsc-input {
        padding-right: 0!important;
    }
    .gsib_b {
        display: none!important;
    }
    .gsc-search-button {
        display: none!important;
    }
    .gsc-results-wrapper-overlay {
        top: 15%!important;
        margin-left: 150px!important;
        width: 60%!important;
    }
}

.folded aside {
	overflow:initial;
}

/* Google CSE */
body.gsc-overflow-hidden aside {
    overflow: visible;
}

#docModal {
    .post-content {
        h1 {
            font-size: 25px;
            border-bottom: 1px solid #dfdfdf;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
        h2, h3, h4, h5, h6 {
            font-size: 18px;
            font-weight: normal;
            line-height: 1;
            margin: 2em 0 0.5em;
            color: #666666;
        }
    }
}
